@import '@sbb-esta/lyne-elements/standard-theme.css';


sbb-step-label {
    pointer-events: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.buttons sbb-toggle-check {

}

app-phase {
    align-self: center;
}

sbb-status.battery {
    position: absolute;
    right: 0;
    top: 0;
}