<sbb-card size="xl" color="white">
    <sbb-title level="4">{{ name() }}</sbb-title>

    <sbb-stepper
        #stepper
        aria-label="Purpose of this flow"
        selected-index="0"
        orientation="horizontal"
        horizontal-from="unset"
    >
        <sbb-step-label>Kabelverbindung</sbb-step-label>
        <sbb-step>
            <sbb-notification
                    *ngIf="state() === State.Authorizing"
                    style="--sbb-notification-margin: 0 0 var(--sbb-spacing-fixed-4x) 0;"
                    title-content="Zugriff nicht genehmigt"
                    type="error"
                    size="m"
                    animation="close"
                    readonly
            >
                Der PC kann keine Verbindung mit der Brille herstellen. Bitte Brille aufsetzen und Genehmigung im Dialog
                erteilen. ("Von diesem PC immer genehmigen.")
            </sbb-notification>
            <div
                    tabindex="0"
                    class="sbb-focus-outline"
                    style="margin-block-end: var(--sbb-spacing-fixed-4x)"
            >
                Bitte verbinde die Brille per Kabel mit dem PC, damit eine Wireless-Verbindung hergestellt werden kann, und stelle sicher, dass sie eingeschaltet ist.
            </div>

        </sbb-step>

        <sbb-step-label>Wireless-Verbindung</sbb-step-label>
        <sbb-step>
            <sbb-notification
                    *ngIf="connectionError()"
                    style="--sbb-notification-margin: 0 0 var(--sbb-spacing-fixed-4x) 0;"
                    title-content="Fehler bei der Verbindung"
                    type="error"
                    size="m"
                    animation="close"
                    readonly
            >
                {{ connectionError() }}
            </sbb-notification>

            <div
                    tabindex="0"
                    class="sbb-focus-outline"
                    style="margin-block-end: var(--sbb-spacing-fixed-4x)"
            >
                <p>
                    <sbb-loading-indicator
                            variant="circle"
                            size="l"
                            color="default"
                    ></sbb-loading-indicator>
                    Verbindung wird hergestellt...
                </p>
            </div>
        </sbb-step>

        <sbb-step-label>Fertig</sbb-step-label>
        <sbb-step>
            <sbb-status  title-content="Verbindung hergestellt!" type="success">
                <div
                        tabindex="0"
                        class="sbb-focus-outline"
                        style="margin-block-end: var(--sbb-spacing-fixed-4x)"
                >
                    @if (localDevice()) {
                        Das Gerät ist bereit zum Streamen und kann ausgesteckt werden.
                    } @else {
                        Das Gerät ist bereit zum Streamen.
                    }
                </div>

                <sbb-status class="battery" *ngIf="batteryLevel() !== undefined" [iconName]="batteryLevelIcon()">
                    {{ batteryLevel() }}%
                </sbb-status>
            </sbb-status>
            <div class="buttons">
                <sbb-toggle-check
                    #mirrorCheck
                    [checked]="mirroringActivated()"
                    (change)="mirroringActivated.set(mirrorCheck.checked)"
                    size="s"
                    value="Value"
                    name="keepMirroring"
                    label-position="after"
                >
                    <sbb-icon slot="icon" name="display-small"></sbb-icon>
                    Bildschirm anzeigen
                </sbb-toggle-check>


                <app-phase [ip]="ip()!" *ngIf="state() === State.Ready" />

                <sbb-toggle-check
                    #appCheck
                    [checked]="enforceAppActivated()"
                    (change)="enforceAppActivated.set(appCheck.checked)"
                    size="s"
                    value="Value"
                    name="keepAppRunning"
                    label-position="after">
                    <sbb-icon slot="icon" name="play-small"></sbb-icon>

                    VR-App läuft immer
                </sbb-toggle-check>
            </div>


        </sbb-step>

    </sbb-stepper>
</sbb-card>