<sbb-container class="container" color="milk">
    @for (item of devices(); track trackByIndex; let i = $index) {
        <app-device [name]="'VR'+(i+1)" [id]="item" [port]="5555+i" />
    }

    <sbb-dialog #overlay (didClose)="onDialogClosed($event)">
        <sbb-dialog-title>Einstellungen</sbb-dialog-title>
        <sbb-dialog-content>
            <div style="margin: var(--sbb-spacing-fixed-2x)">
                <sbb-form-field error-space="none" size="m" width="default">
                    <label>Package Name</label>

                    <input
                        #packageInput
                        class=""
                        placeholder="Package Name"
                        [value]="packageName()"
                        (change)="packageName.set(packageInput.value)"
                    />
                </sbb-form-field>
            </div>
            <div style="margin: var(--sbb-spacing-fixed-2x)">
                <sbb-form-field error-space="none" size="m" width="default">
                    <label>Scrcpy Argumente</label>

                    <input
                        #input
                        class=""
                        placeholder=""
                        [value]="scrcpyArguments()"
                        (change)="scrcpyArguments.set(input.value)"
                    />
                </sbb-form-field>
            </div>
            <sbb-title level="4">Geräte</sbb-title>
            <div>
                @for (item of devices(); track trackByIndex; let i = $index) {
                    <div style="margin: var(--sbb-spacing-fixed-2x)">
                    <sbb-form-field error-space="none" size="m" width="default">
                            <label>Gerät {{ i + 1 }} (Serial ID)</label>

                            <input
                                #input
                                class=""
                                placeholder="Serial-id..."
                                [value]="item"
                                (change)="setDeviceSerial(i, input.value)"
                            />
                        </sbb-form-field>
                    </div>
                }
            </div>
        </sbb-dialog-content>
        <sbb-dialog-actions
                align-group="stretch"
                orientation="vertical"
                horizontal-from="medium"
        >
            <!--  <sbb-secondary-button sbb-dialog-close="">Cancel</sbb-secondary-button> -->
            <sbb-button sbb-dialog-close="save">Speichern</sbb-button>
        </sbb-dialog-actions>
    </sbb-dialog>

    <sbb-divider/>
    <sbb-button (click)="openOverlay(overlay, $event)" size="m">Einstellungen</sbb-button>
    <sbb-secondary-button (click)="killServer()" size="m" [disabled]="isKilling()" style="margin-left: var(--sbb-spacing-fixed-2x)" title="Kann bei Verbindungsproblemen helfen.">
        <sbb-loading-indicator slot="icon" variant="circle" *ngIf="isKilling()"></sbb-loading-indicator>
        Verbindung erneuern
    </sbb-secondary-button>
    <sbb-toast id="warning-toast" icon-name="sign-exclamation-point-medium" />
</sbb-container>
