.container {
  background-color: var(--sbb-color-milk);
  display:flex;
  flex-direction: column;
  height: 100vh;
}

app-device {
  margin: 1em 1em 0;
}

sbb-button {
  margin: 1em 0;
}

sbb-form-field {
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-2x);
}